body {
	background-color: #f4f4f4;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

h1 {
    margin-bottom: 20px;
	font-size: 58px;
	font-family: 'Pokemon', Pokemon-solid;
	color: #ffcb05;
	text-shadow: 5px 5px 0 #2a75bb,
	-1px -1px 0 #2a75bb;
}

@font-face {
    font-family: 'Pokemon';
    src: url('Fuente/Pokemon Solid.ttf') format(truetype);
}

#pokemon-container {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 20px;
	padding: 20px;
}

.pokemon-card {
    background: white;
    border-radius: 10px;
    padding: 10px;
	position: relative;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
    width: 120px;
    height: 120px;
}

/*ocultar nombre*/
.pokemon-name {
    position: absolute;
    bottom: 10px;
    left: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px;
	opacity: 0;
	transition: opacity 0.3s;
	border-radius: 0 0 10px 10px;
}

/* mostrar nombre al pasar el cursor */
.pokemon-card:hover .pokemon-name {
    opacity: 1;
}